<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appController" ng-init="performSearch()">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
        <script src= "scripts/search.js"></script>
        <script src= "scripts/apiCall.service.js"></script>

        <base href="/">

    </head>
    <body>
        <h1>Online Movie Database</h1>

        <div class="topnav">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <input type="text" placeholder="search" ng-model="searchText" ng-model-options="{debounce: 1000}" ng-change="performSearch()">
            <button ng-click="performSearch()">Search</button>
        </div>
        <p ng-show="showMessage()"> Enter at least 3 characters to perform search operation</p>
        <ng-view></ng-view>
        <div>
            <button ng-click="filterButtonClicked = !filterButtonClicked" > Filter </button>
            <button ng-hide="hideClearFilterButton" ng-click="clearFilters()" > Clear Filters </button>
            <div id=filter ng-if="filterButtonClicked">
                Type:
                <label data-ng-repeat="t in types">
                    <input name="chosenType" type="radio" value="{{t}}" ng-model="filters.type" />{{t}} <br>
                </label>
                Year:
                <select ng-model="filters.year">
                    <option ng-repeat="year in years" value="{{year}}">{{ year }}</option> 
                </select>
                <button ng-click="applyButtonClicked()" > Apply </button>
            </div>
            <table  ng-if="movieData">
                <th>
                        <td><button ng-click="sortBy('Title')">Title</button></td>
                        <td><button ng-click="sortBy('Year')">Year</button></td>
                        <td>Category</td>
                </th>             
                <tr ng-repeat="movie in movieData | orderBy : sortValue : reverse" ng-click="getMovieDetails()">
                        <td></td>
                        <td>{{movie.Title}}</td>
                        <td>{{movie.Year}}</td>
                        <td>{{movie.Type}}</td>
                        <td>{{movie.imdbID}}</td>
                </tr>
            </table>
            
            <p ng-show="noResults">No Results Found. Please try a different search text or filter</p>
    
            <div  ng-if="movieData">
                <button ng-click="prevHandler()" ng-disabled="pageNo==1 || totalPages==1"> &lt&ltPrevious </button>
                <button ng-click="nextHandler()" ng-disabled="pageNo==totalPages || totalPages == 1"> Next&gt&gt </button>
            </div>
        </div>
    </div>  
    </body>
</html>