<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src= "search.js"></script>
    </head>
    <body>
        <p>Basic Page</p>

        <h1>Online Movie Database</h1>

        <div class="topnav">
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="#">TVShows</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <input type="text" placeholder="search" ng-model="searchText" ng-change="apiCall()">
            <select ng-model="sort">
                <option  selected value="Title">Sort By</option>
                <option value="Title">Title Name</option>
                <option value="Year">Year-Most Recent</option>
                <option value="Ratings[0].Value">Ratings</option>
            </select>
            <p>{{ sort }}</p>
        </div>

        <div id="filter-list">
            <button type="button" name="filter-movie" ng-click="showFilterOptions()">Advanced Search</button>
            
            <div ng-if="showFilter" id="filter-box">
                <ul>
                    <li>
                        <input type="checkbox" name="genre" ng-model="genreValue">Genre</input></li>
                        <ul ng-if="genreValue">
                            <li><input type="checkbox" name="drama">Drama</input></li>
                            <li><input type="checkbox" name="action">Action</input></li>
                            <li><input type="checkbox" name="comedy">Comedy</input></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        <p>{{searchText}}</p>
      <p ng-repeat="movie in movieData | orderBy: sort">{{movie.Title}}</p>   
    </body>
</html>