<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src= "search.js"></script>
    </head>
    <body>
        <p>Basic Page</p>

        <h1>Online Movie Database</h1>

        <div class="topnav">
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="#">TVShows</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <input type="text" placeholder="search" ng-model="searchText" ng-model-options="{debounce: 1000}" ng-change="apiCall()">
            <button ng-click="apiCall">Search</button>

        </div>
            <table>
                <th>
                        <td><button ng-click="sortBy('Title')">Title</button></td>
                        <td><button ng-click="sortBy('Year')">Year</button></td>
                        <td>Category</td>
                </th>      
                    
                <tr ng-repeat="movie in movieData | orderBy : sortValue : reverse">
                    <td></td>
                    <td>{{movie.Title}}</td>
                    <td>{{movie.Year}}</td>
                    <td>{{movie.Type}}</td>
                </tr>
            </table>

            <div>
                <button ng-click="prevHandler()" ng-disabled="pageNo==1 || totalPages==1"> &lt&ltPrevious </button>
                <button ng-click="nextHandler()" ng-disabled="pageNo==totalPages || totalPages == 1"> Next&gt&gt </button>

            </div>

 <!--       <div id="filter-list">
            <button type="button" ng-click="showFilterOptions()">Advanced Search</button>
            
            <div ng-if="showFilter" id="filter-box">
                <ul>
                    <li>
                        <input type="checkbox" name="genre" ng-model="genreValue">Genre</input></li>
                        <ul ng-if="genreValue">
                            <li><input type="checkbox" name="drama">Drama</input></li>
                            <li><input type="checkbox" name="action">Action</input></li>
                            <li><input type="checkbox" name="comedy">Comedy</input></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>  
    </body>
</html>