<div>
    <button ng-click="filterButtonClicked = !filterButtonClicked" > Filter </button>
    <button ng-hide="hideClearFilterButton" ng-click="clearFilters()" > Clear Filters </button>
    <div id=filter ng-if="filterButtonClicked">
        Type:
        <label data-ng-repeat="t in types">
            <input name="chosenType" type="radio" value="{{t}}" ng-model="filters.type" />{{t}} <br>
        </label>
        Year:
        <select ng-model="filters.year">
            <option ng-repeat="year in years" value="{{year}}">{{ year }}</option> 
        </select>
        <button ng-click="applyButtonClicked()" > Apply </button>
    </div>
    <table  ng-if="movieData">
        <th>
                <td><a href="#" ng-click="sortBy('Title')">Title</a></td>
                <td><a href="#" ng-click="sortBy('Year')">Year</a></td>
                <td>Category</td>
                <td>imDb-ID</td>
        </th>             
        <tr ng-repeat="movie in movieData | orderBy : sortValue : reverse" >
                <td></td>
                <td><a ng-href="movies/{{movie.imdbID}}">{{movie.Title}}</a></td>
                <td>{{movie.Year}}</td>
                <td>{{movie.Type}}</td>
                <td>{{movie.imdbID}}</td>
        </tr>
    </table>    
    <div  ng-if="movieData">
        <button ng-click="prevHandler()" ng-disabled="pageNo == 1 || totalPages == 1"> &lt&ltPrevious </button>
        <button ng-click="nextHandler()" ng-disabled="pageNo == totalPages || totalPages == 1"> Next&gt&gt </button>
    </div>
</div>