<div ng-if="movieData">
    <button ng-click="filterButtonClicked = !filterButtonClicked" > Add Filter </button>
    <div id=filter ng-if="filterButtonClicked">
        Type:
        <label data-ng-repeat="t in types">
            <input name="chosenType" type="radio" value="{{t}}" ng-model="filters.type" />{{t}} <br>
        </label>
        Year:
        <select ng-model="filters.year">
            <option ng-repeat="year in years" value="{{year}}">{{ year }}</option> 
        </select>
        {{ filters.year}}
        <button ng-click="apiCall()" > Apply </button>
    </div>


        <table>
            <th>
                    <td><button ng-click="sortBy('Title')">Title</button></td>
                    <td><button ng-click="sortBy('Year')">Year</button></td>
                    <td>Category</td>
            </th>     
                
            <tr ng-repeat="movie in movieData | orderBy : sortValue : reverse">
                    <td></td>
                    <td>{{movie.Title}}</td>
                    <td>{{movie.Year}}</td>
                    <td>{{movie.Type}}</td>
            </tr>
        </table>

        <div>
            <button ng-click="prevHandler()" ng-disabled="pageNo==1 || totalPages==1"> &lt&ltPrevious </button>
            <button ng-click="nextHandler()" ng-disabled="pageNo==totalPages || totalPages == 1"> Next&gt&gt </button>

        </div>

</div>